.custom-navbar {
  background-color: #6d4bad !important;
  padding-top: 18px;
  padding-bottom: 18px;
  height: 85px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 500;
  margin-left: 20px;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #f0e6ff !important;
  text-decoration: underline;
}
